/* Cat website */


body {
	font-family: sans-serif;
	margin: 0;
	padding: 0.5em;
	background: white;
	color: black;
	font-size: 2em;
	line-height: 1.2;
}

main {
	padding: 0 0.5em;
}

h1{
	font-size: 4em;
	font-weight: bold;
}

h2{
	font-size: 3em;
	font-weight: bold;
}

h3{
	font-style: italic;
}

h4{
	font-weight: bold;
}